@model OrchardCore.Cms.KtuSaModule.ViewModels.AddressPartViewModel

<fieldset class="form-group" asp-validation-class-for="Address" style="margin-bottom: 20px;">
    <label asp-for="Address">
        Address
    </label>

    <input asp-for="Address"
           class="form-control"
           value="@Model.Address"/>

    <span class="hint">
        KTU CSA office location
    </span>
</fieldset>