@model OrchardCore.Cms.KtuSaModule.ViewModels.ArticlePartViewModel
<!-- TODO add localization -->

<fieldset class="form-group" asp-validation-class-for="TitleLt" style="margin-bottom: 20px;">
    <label asp-for="TitleLt">
        Title LT
    </label>

    <input 
        asp-for="TitleLt" 
        class="form-control"
        value="@Model.TitleLt"
        required />

    <span class="hint">
        Article title in Lithuanian language
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="TitleEn" style="margin-bottom: 20px;">
    <label asp-for="TitleEn">
        Title EN 
    </label>

    <input 
        asp-for="TitleEn" 
        class="form-control" 
        value="@Model.TitleEn" 
        required />
    
    <span class="hint">
        Article title in English language
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="PreviewLt" style="margin-bottom: 20px;">
    <label asp-for="PreviewLt">
        Preview LT
        <span asp-validation-for="PreviewLt"></span>
    </label>

    <textarea asp-for="PreviewLt" class="form-control" required>@Model.PreviewLt</textarea>

    <span class="hint">
        Article preview text in Lithuanian language. This text will be shown in cards and will be the first paragraph in the article
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="PreviewEn" style="margin-bottom: 20px;">
    <label asp-for="PreviewEn">
        Preview EN
        <span asp-validation-for="PreviewEn"></span>
    </label>

    <textarea asp-for="PreviewEn" class="form-control" required>@Model.PreviewEn</textarea>

    <span class="hint">
        Article preview text in English language. This text will be shown in cards and will be the first paragraph in the article
    </span>
</fieldset>
