@model OrchardCore.Cms.KtuSaModule.ViewModels.ImageUploadFieldViewModel

<fieldset class="form-group" asp-validation-class-for="UploadedFile">
    <label asp-for="UploadedFile" class="control-label">
        Choose Image to upload
    </label>
    <input asp-for="UploadedFile" name="ArticlePart.ImageUploadField.UploadedFile" type="file" class="form-control" required />
</fieldset>
