@model ImageUploadFieldViewModel

<fieldset class="form-group" asp-validation-class-for="UploadedFile" style="margin-bottom: 20px; display: flex; gap: 20px">
    <div>
        <label asp-for="UploadedFile" class="control-label">
            @Model.Label
        </label>

        <input
            asp-for="UploadedFile"
            type="file" class="form-control"
            accept="image/png, image/jpeg"/>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.FileId))
    {
        <div>
            <P>This image is already uploaded if you want to change it upload a new one.</P>
            <img src="@Model.FileId" alt="Uploaded Image" height="100"/>
        </div>
    }
</fieldset>