@model OrchardCore.Cms.KtuSaModule.ViewModels.ImageUploadFieldViewModel

<fieldset class="form-group" asp-validation-class-for="UploadedFile">
    <label asp-for="UploadedFile" class="control-label">
        Choose Image to upload
    </label>

    <input 
        asp-for="UploadedFile" 
        name="ImageUploadField.UploadedFile" 
        type="file" class="form-control" 
        accept="image/png, image/jpeg" />

    @if (!string.IsNullOrWhiteSpace(Model.FileId))
    {
        <P>This image is already uploaded if you want to change it upload a new one:</P>
        <img src="https://drive.google.com/thumbnail?id=@Model.FileId" alt="Uploaded Image" />
    }
</fieldset>
