@model ImageUploadFieldViewModel

<fieldset class="form-group" asp-validation-class-for="UploadedFile" style="margin-bottom: 20px; display: flex; gap: 20px; flex-direction: column;">
    <div style="display: flex; flex-direction: column;">
        <label asp-for="UploadedFile" class="control-label">
            @Model.Label
        </label>

        <input asp-for="UploadedFile"
               type="file"
               class="form-control"
               accept="image/png, image/jpeg"
               onchange="PreviewImage(this);"
               style="display: flex;"/>
    </div>

    <div>
        @if (!string.IsNullOrEmpty(Model.FileId))
        {
            <img src="@Model.FileId"
                 id="image-preview"
                 alt="Uploaded Image"
                 height="100"/>
        }
        else
        {
            <img id="image-preview"
                 alt="Uploaded Image"
                 height="100"
                 style="display: none;"/>
        }
    </div>

    <script type="text/javascript">
        function PreviewImage(inputElement) {
            var imageElement = document.getElementById('image-preview');

            if (inputElement.files && inputElement.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imageElement.src = e.target.result;
                    imageElement.style.display = 'block'; 
                };

                reader.readAsDataURL(inputElement.files[0]);
            };
        };
    </script>
</fieldset>