@model MemberPartViewModel

<!-- TODO add localization -->


<fieldset class="form-group" asp-validation-class-for="Name" style="margin-bottom: 20px;">
    <label asp-for="Name">
        Member Name
    </label>

    <input asp-for="Name"
           class="form-control"
           value="@Model.Name"
           required />
</fieldset>
