@model MemberPartViewModel

@if (Model.SaUnit is not null)
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" data-bs-original-title="SA unit">
        @Model.SaUnit
    </span>
}