@model PdfUploadFieldViewModel

<fieldset class="form-group" asp-validation-class-for="UploadedFile" style="margin-bottom: 20px; display: flex; gap: 20px">
    <div>
        <label asp-for="UploadedFile" class="control-label">
            @Model.Label
        </label>

        <input asp-for="UploadedFile"
               type="file"
               class="form-control"
               accept="application/pdf"/>
    </div>

    @if (Model.FileId is not null)
    {
        <iframe
            title="Uploaded file"
            src=@Model.FileId>
            This browser does not support PDFs. Please download the PDF to view it.
        </iframe>
    }
</fieldset>