@model OrchardCore.Cms.KtuSaModule.ViewModels.PositionPartViewModel
<!-- TODO add localization -->

<fieldset class="form-group" asp-validation-class-for="NameLt" style="margin-bottom: 20px;">
    <label asp-for="NameLt">
        Position name LT
    </label>

    <input asp-for="NameLt"
           class="form-control"
           value="@Model.NameLt"
           required />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="NameEn" style="margin-bottom: 20px;">
    <label asp-for="NameEn">
        Position name EN
    </label>

    <input asp-for="NameEn"
           class="form-control"
           value="@Model.NameEn"
           required />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DescriptionLt" style="margin-bottom: 20px;">
    <label asp-for="DescriptionLt">
        Description LT
    </label>

    <input asp-for="DescriptionLt"
           class="form-control"
           value="@Model.DescriptionLt"
           required />

    <span class="hint">
        Write here what does this position
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DescriptionEn" style="margin-bottom: 20px;">
    <label asp-for="DescriptionEn">
        Description EN
    </label>

    <input asp-for="DescriptionEn"
           class="form-control"
           value="@Model.DescriptionEn"
           required />

    <span class="hint">
        Write here what does this position
    </span>
</fieldset>