@model QuillFieldViewModel

<fieldset class="form-group" asp-validation-class-for="HtmlBody" style="margin-bottom: 20px;" data-quill-editor>
    <label asp-for="Label">
        @Model.Label
    </label>

    <div data-quill-target></div>

    <input asp-for="HtmlBody" type="hidden" data-quill-input value="@Model.HtmlBody" class="form-control">
</fieldset>