@model SaUnitPartViewModel

<fieldset class="form-group" asp-validation-class-for="UnitName" style="display: none">
    <label asp-for="UnitName">
        Sa unit Name
    </label>

    <input 
        asp-for="UnitName"
        class="form-control"
        value="@Model.UnitName"
    />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DescriptionLt" style="margin-bottom: 20px;">
    <label asp-for="DescriptionLt">
        Description LT
    </label>

    <textarea asp-for="DescriptionLt"
           class="form-control"
           required >
        @Model.DescriptionLt
    </textarea>

    <span class="hint">
        Description about FSA in lithuanian
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DescriptionEn" style="margin-bottom: 20px;">
    <label asp-for="DescriptionEn">
        Description EN
    </label>

    <textarea asp-for="DescriptionEn"
           class="form-control"
           required >
        @Model.DescriptionEn
    </textarea>

    <span class="hint">
        Description about FSA in english
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Address" style="margin-bottom: 20px;">
    <label asp-for="Address">
        Address of the FSA premises
    </label>

    <input asp-for="Address"
           class="form-control"
           value="@Model.Address"
           required />

    <span class="hint">
        Write here what does this position
    </span>
</fieldset>